*{
    margin: 0;
    padding: 0;
}
.web-name{
    display: flex;
    border: 2px solid none;
    height: 70px;
    color: blue;
    margin-left: 280px;
}
.web-name h1{
    padding-top: 40px;
    margin-left: 20px;
    color: blue;
}
.header{
    height:50px ;
    padding-top: 20px;
    margin-top: 20px;
    background-color:#2b6777;
}
.header a{
    padding-top: 100px;
    height: 20px;
    margin: 80px;
    margin-left: 90px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.header a:hover{
    color:red;
}
.img{
    width: 100%;
    height: 1%;
}
.about-us{
    color: blue;
    background-color: #c8d8e4;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-container{
    width: 60%;
    text-align: center;
    padding-top: 20px;
    margin-left: 230px;
    color: black;
    background-color:#ffffff;
}
.about-container h1{
    color: red;
}
.about{
    text-align: center;
    display: flex;
}
.about-para{
    width: 900px;
    margin: 18px;
    text-align: justify;
}
.about-img{
    margin-top: 10px;
    width: 80%;
    height: 85%;
}
.about-container1{
    width: 60%;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 230px;
    color: black;
    background-color:#ffffff;
}
.about-container1 h1{
    color: red;
}
.about{
    text-align: center;
    display: flex;
}
.about-para{
    width: 900px;
    margin: 18px;
    text-align: justify;
}
.about-img{
    margin-top: 10px;
    width: 80%;
    height: 85%;
}
.programs{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}
.programs h1{
    color: blue;
}
.program-details{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.box1{
    width: 30%;
    height: 100%;
    margin-left: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
}
.box1 h1{
    margin-top: 20px;
    padding-bottom: 25px;
    color: red;
}
.box1-p{
    margin: 20px;
    text-align: center;
}
.box2{
    width: 30%;
    height: 100%;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
}
.box2 h1{
    margin-top: 20px;
    padding-bottom: 10px;
    color: red;
}
.box2-p{
    margin: 20px;
    text-align: center;
}
.program-details1{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.box3{
    width: 30%;
    height: 100%;
    margin-left: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
}
.box3 h1{
    margin-top: 20px;
    padding-bottom: 20px;
    color: red;
}
.box3-p{
    margin: 20px;
    text-align: center;
}
.box4{
    width: 30%;
    height: 100%;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
}
.box4 h1{
    margin-top: 20px;
    padding-bottom: 30px;
    color: red;
}
.box4-p{
    margin: 20px;
    text-align: center;
}
.lm-1{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
}
.lm-1 a{
    color: black;
    text-decoration: none;
}
.lm-2{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
}
.lm-2 a{
    color: black;
    text-decoration: none;
}
.lm-3{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
}
.lm-3 a{
    color: black;
    text-decoration: none;
}
.lm-4{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
}
.lm-4 a{
    color: black;
    text-decoration: none;
}
.donate-details{
    display: flex;
    width: 60%;
}
.donate-img{
    width: 700px;
    height: 93%;
    margin-top: 20px;
    margin-left: 56px;
}
.donation{
    background-color: #52ab98;
    padding-bottom: 50px;
}
.donation h1{
    color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.donate-form{
    background-color: #ffffff;
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
    width: 50%;
}
form{
    margin: 20px;
}
.label{
    color: black;
    font-size: 20px;
}
.name{
    width:340px;
    height: 25px;
}
.submit{
    border: 2px solid  none;
    width: 70px;
    height: 40px ;
    margin-left: 270px;
}
.footer{
    display: flex;
    background-color: #2b6777;
    padding: 20px;
}
.footer-1{
    width: 250px;
    margin-left: 25px;
}
.footer-1 h2{
    color: red;
}
.footer-1 p{
    margin: 10px;
    text-align: justify;
    color: black;
}
.footer-2{
    width: 250px;
    margin-left: 50px;
}
.footer-2 h2{
    color: red;
}
.footer-2 p a{
    margin-left: 20px;
    text-decoration: none;
    color:black;
}
.footer-3{
    width: 250px;
    margin-left: 50px;
}
.footer-3 p{
    margin: 10px;
    text-align: justify;
    color: black;
}
.footer-3 h2{
    color: red;
}
.footer-4{
    width: 250px;
    margin-left: 50px;
}
.footer-4 h2{
    color: red;
}
.footer-4 p{
    margin: 10px;
    color: black;
    text-align: justify;
}
.copy{
    background-color: #c8d8e4;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.educatinal{
    background-color:#e6ebe0;
    /* border: 2px  solid black; */
    width: 99.6%;
}
.educatinal-item{
    display: grid;
    grid-template-columns: 800px auto;
    /* border: 2px solid black; */
    padding-bottom: 30px;
}
#edu-img{
    border: 2px solid #b4c0d5;
    background-color: #b4c0d5;
    width: 100%;
    height: 89%;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.educatinal h1{
    color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.educatinal img{
    width: 100%;
    height: 100%;
}

.educatinal-p {
    border: 2px solid #b4c0d5;
    background-color:#b4c0d5;
    width: 60%;
    margin-top: 30px;
    margin-right: 40px;
    margin-left:97px ;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 240px) and (max-width: 1024px) {
    .web-name{
        display: inline;
        margin-left: 150px;
        margin-right: 150px;
    }
    .web-name h1{
        margin-top: -50px;
    }
    .header a{
        margin: 2%;
    }
    .about-container{
        margin-left: 10px;
        width: 93%;
    }
    .about-container1{
        margin-left: 10px;
        width: 93%;
    }
    .box1{
        margin-left: 10px;
        width: 43%;
    }
    .box2{
        margin-left: 30px;
        width: 43%;
    }
    .box1-img{
        width: 85%;
        margin-left: 5px;
    }
    .box3{
        margin-left: 10px;
        width: 43%;
    }
    .box4{
        margin-left: 30px;
        width: 43%;
    }
    .box1-img{
        width: 85%;
        margin-left: 5px;
    }
    .lm-1{
        width: 130px;
        margin-left: 40px;
    }
    .lm-2{
        width: 130px;
        margin-left: 40px;
    }
    .lm-3{
        margin-left: 50px;
    }
    .lm-4{
        margin-left: 50px;
    }
    .donate-form{
        margin-left: 20px;
        width: 138%;
    }
    .name{
        width: 100%;
    }
    .donate-details{
        display: block;
    }
    .donate-img{
        width: 150%;
        margin-left: 20px;
    }
    .submit{
        margin-left: 120px;
    }
    .footer{
        display: block;
    }
    .footer-1{
        margin-left: 50px;
        text-align: center;
    }
    .footer-2{
        margin-top: 40px;
        justify-content: center;
    }
    .footer-3{
        margin-top: 40px;
    }
    .footer-4{
        margin-top: 40px;
    }
    .educatinal-item{
        display: inline;
    }
    #edu-img{
        width: 80%;
        margin-left: 30px;
    }
    .educatinal-p{
        margin-left: 70px;
    }
}